body {
	overflow:visible;
	background: #FFFFFF;
	margin: 0;
	padding: 0;
	height: 100%;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

#openglBody {
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	
	pointer-events: none;
}

#openglWindow {
	position: relative;
	width: 100%;
	height: 100%;
	left: 50%;
	top: 50%;

	pointer-events: all;
}

#openglView {
	position: absolute;
	width: 1024px;
	height: 576px;
	left: -512px;
	top: -288px;
	
	overflow: none;
	/* hidden; */
}

#openglCanvas {
	position: absolute;
	width: 100%;
	height: 100%;
	
	z-index: 100;
}

#openglDebug {
	position: absolute;
	width: 100%;
	bottom: 0;
	right: -1030px;
	
	z-index: 200;
	font-size: 12px;
	color: #FF0000;
	font-weight: bold;
	/* text-shadow: 1px 1px 2px black; */
	pointer-events: none;
}
