<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools"
    package="com.jappsy.example">

    <!-- needed for Jappsy core -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-feature android:glEsVersion="0x00020000" android:required="true" />

    <!-- needed for GPS support -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" /-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- needed for Auto-start on boot -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- needed for Android 4.0.x and earlier -->
    <uses-permission android:name="android.permission.READ_LOGS" />

    <application
        tools:replace="android:allowBackup, android:supportsRtl"
        android:name=".JappsyApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:allowBackup="false"
        android:supportsRtl="false"
        android:theme="@android:style/Theme.Black.NoTitleBar">

        <service
            android:name=".JappsyService"
            android:label="@string/app_name"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleInstance" >
        </service>

        <receiver android:name=".JappsyStartup">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.intent.action.ACTION_SHUTDOWN" />
                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".JappsyMain"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustResize"
            android:launchMode="singleInstance" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:host="jappsy.com"
                    android:pathPrefix="/"
                    android:scheme="http"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".JappsySendLog"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Dialog"
            android:textAppearance="@android:style/TextAppearance.Large"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="com.jappsy.SEND_LOG" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
